{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content%}

{% include "navbar.html" %}
{# {{ criminal}} #}

{# {{ criminal }} #}

{% if user.is_authorised %}

{# <input type="submit" value="Edit"><br> #}

<a href="{% url 'add-record' criminal.id %}">Add Past Record</a>
{% endif %}


<div>
	<h2>Profile</h2>
	<p>First Name : {{ criminal.first_name  }}</p>
	<p>Last Name : {{ criminal.last_name }}</p>
	<p>Aadhar : {{ criminal.aadhar_number }}</p>
	<p>Date of Birth  : {{ criminal.dob }}</p>
	<p>Email  : {{ criminal.email }}</p>
	<p>Father's Name  : {{ criminal.fathers_name }}</p>
	<p>Mother's Name  : {{ criminal.mothers_name }}</p>
	<p>Mobile number  : {{ criminal.mobile_number }}</p>
	<p>Nationality  : {{ criminal.nationality }}</p>
	<p>Address  : {{ criminal.address }}</p>
	<p>Number of family member  : {{ criminal.no_of_family_member }}</p>
	


</div>



<a href="{% url 'record' criminal.id %}">Past History</a>
{% endblock %}

