{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}

{% include "navbar.html" %}

<form method="Get" action='/home' class="uniForm">
<input type="text" name="q" placeholder="Search criminal">
<input type="submit" name="submit">
</form>



{# {{ obj}} #}
{% for i in obj %}

<a href="{% url 'detail' i.id %}">{{  i  }}</a>
{% if user.is_authorised %}

{# <input type="submit" value="Edit"><br> #}
<a href="{% url 'update-profile' i.id%}">Edit</a>
{% endif %}
<br>


{% endfor %}

{% endblock %}